.odd{
    background-color:#FFB6C1;
    font-family: verdana,"DejaVu Sans",sans-serif ;
}

#second{
    color:#0000FF;
    font-size:36px;
}

.fs{
    font-size:24px
}
#fourth{
    background-color: lightgreen;
   
    font-weight: bold;
}
    